@model Bio
@{
    ViewData["Title"] = "Default";
}
<!-- Navbar Start -->
<nav id="bioNavbar">
    <div class="container-fluid">
        <div class="row navMenu">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12 contactBio">
                <ul>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="~/#">@Model.PhoneNumber</a>
                    </li>
                    <li>
                        <i class="far fa-envelope"></i>
                        <a href="~/#">@Model.Email</a>
                    </li>
                    <li>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Mon-Fri:7:30am-5:30am</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 socialMediaBio">
                <ul>
                    <li><a href="@Model.FacebookAddress"><i class="fab fa-facebook-f"></i></a></i></li>
                    <li><a href="@Model.TwitterAddress"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="@Model.PinterestAddress"><i class="fab fa-pinterest"></i></a></li>
                    <li><a asp-controller="Shop" asp-action="Buy"><i class="fas fa-shopping-cart"></i></a></li>
                    <sup class="basketCount">0</sup>
                    <li><i class="fas fa-search searchIcon"></i></li>
                </ul>
                <form class="form-group searchForm d-none">
                    <input type="text" class="form-control" placeholder="Search" id="search">
                    <i class="fas fa-search searchh"></i>
                </form>

            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->
<!-- Responsive Navbar start -->
<nav id="responsiveNav">
    <div class="container ">
        <div class="col-lg-12 d-flex justify-content-center downResponsive">
            <i class="fas fa-chevron-down down"></i>
        </div>
        <div class="row responsiveRow d-none">

            <div class="col-lg-12 contactBioResponsive">
                <div>
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="~/#">@Model.PhoneNumber</a>
                        </li>
                        <li>
                            <i class="far fa-envelope"></i>
                            <a href="~/#">@Model.Email</a>
                        </li>
                        <li>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span>Mon-Fri:7:30am-5:30am</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-12 socialMediaBioResponsive">
                <div>
                    <ul>
                        <li><a href="@Model.FacebookAddress"><i class="fab fa-facebook-f"></i></a></i></li>
                        <li><a href="@Model.TwitterAddress"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="@Model.PinterestAddress"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="~/#"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><i class="fas fa-search searchIconResponsive"></i></li>
                    </ul>
                    <form class="form-group searchFormResponsive d-none">
                        <input type="text" class="form-control" placeholder="Search" id="search">
                        <i class="fas fa-search searchh"></i>
                    </form>
                </div>


            </div>
        </div>

    </div>
</nav>
<!-- Responsive Navbar End -->
<!-- Header start -->
<header class="headerlg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3  header-logo">
                <h1>
                    <a asp-controller="Home" asp-action="Index">CARSERVICE</a>
                </h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-9 header-nav">
                <ul id="main-ul">
                    <li id="home" class="main-li">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li id="services" class="main-li">
                        <a asp-controller="Services" asp-action="index">Services</a>
                    </li>
                    <li id="gallery" class="main-li">
                        <a asp-controller="Gallery" asp-action="Index">Gallery</a>
                    </li>
                    <li class="main-li"><a asp-controller="OurTeam" asp-action="Index">Our Team</a></li>
                    <li id="blog" class="main-li">
                        <a asp-controller="Blog" asp-action="Index">Blog</a>
                    </li>
                    <li id="shop" class="main-li">
                        <a asp-controller="Shop" asp-action="Index">Shop</a>
                    </li>
                    <li id="contact" class="main-li">
                        <a asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li id="contact" class="main-li ml-3" style="padding-right:18px">
                            @ViewBag.UserFullName
                        </li>
                        <li id="contact" class="main-li ml-3" style="padding-right:21px">
                            <a asp-controller="Account" asp-action="LogOut">Log Out</a>
                        </li>
                    }
                    else
                    {
                        <li id="contact" class="main-li ml-3" style="padding-right:18px">
                            <a asp-controller="Account" asp-action="Login">SignIn</a>
                        </li>
                        <li id="contact" class="main-li ml-3" style="padding-right:21px">
                            <a asp-controller="Account" asp-action="Register">SignUp</a>
                        </li>
                    }


                </ul>
            </div>
        </div>

    </div>
</header>
<!-- Header End -->
<!-- Responsive Header Start -->
<header id="responsiveHeader">
    <div class="container">
        <div class="row">
            <div class="logoandburdger col-12">
                <div class="col-3 header-logo">
                    <h1>
                        <a asp-controller="Home" asp-action="Index">CARSERVICE</a>
                    </h1>
                </div>
                <div class="col-1">
                    <i class="fas fa-bars burger d-none"></i>
                    <i class="fas fa-times cancel"></i>
                </div>
            </div>

            <div class="col-12 responsiveUl">

                <ul>
                    <div style=" display:flex;>
                        <li id="contact" class="main-li ml-3">
                            <a asp-controller="Contact" asp-action="Index">Login</a>
                        </li>
                        <li id="contact" class="main-li ml-3">
                            <a asp-controller="Contact" asp-action="Index">SignUp</a>
                        </li>
                    </div>
                    <li class="mainLiResponsiveD">
                        <a asp-controller="Home" asp-action="Index">Home </a>
                        <i class="fas fa-angle-down"> <i class="fas fa-angle-up d-none"></i></i>
                    </li>

                    <li class="mainLiResponsiveD">
                        <a asp-controller="Services" asp-action="Index">Services </a>
                        <i class="fas fa-angle-down"></i> <i class="fas fa-angle-up d-none"></i>
                    </li>
                    <li class="mainLiResponsiveD">
                        <a asp-controller="Gallery" asp-action="Index">Gallery </a>
                        <i class="fas fa-angle-down"></i> <i class="fas fa-angle-up d-none"></i>
                    </li>
                    <li class="mainLiResponsive"><a asp-controller="OurTeam" asp-action="Index">Our Team</a></li>
                    <li class="mainLiResponsive"><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                    <li class="mainLiResponsiveD">
                        <a asp-controller="Shop" asp-action="Index">Shop </a>
                        <i class="fas fa-angle-down"></i><i class="fas fa-angle-up d-none"></i>
                    </li>
                    <li class="mainLiResponsive"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                </ul>
            </div>
        </div>

    </div>
</header>
<!-- Responsive Header End -->
